In [1]:
import pandas as pd
import multiprocessing as mp
import datetime
import time

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
datetime_format = "%Y-%m-%d %H:%M:%S"
now_dtm = datetime.datetime.today().strftime(datetime_format)
dt = now_dtm.split(" ")[0].replace("-","")

folder_csv = "./csv/"
csv_jongmok_list = folder_csv + f"jongmok_list_{dt}.csv"
csv_deal_history = folder_csv + f"multi_deal_history_{dt}.csv"

In [7]:
df_jongmok_list = pd.read_csv(csv_jongmok_list, encoding="utf-8-sig")
df_jongmok_list

   JONGMOK_CD  JONGMOK_NM  HHMI  SEC  DIFF  CPRICE   VOL
0     A122630  KODEX 레버리지   854   48     0   20780     0
1     A005930        삼성전자   854   51     0   74700   406
2     A000660      SK하이닉스   854   48     0  126000     0
3     A035420       NAVER   854   48     0  326000     0
4     A006400       삼성SDI   854   48     0  566000     0
5     A051910        LG화학   854   51     0  610000    12
6     A035720         카카오   854   51     0   86100     1
7     A005380         현대차   854   51     0  185000     9
8     A373220    LG에너지솔루션   854   51     0  511000  1616
9     A001440        대한전선   854   48     0    1570     0
10    A316140      우리금융지주   854   51     0   15850    10
11    A055550        신한지주   854   51     0   40600  4844
12    A105560        KB금융   854   51     0   63800    68
13    A034020       두산중공업   854   51     0   17800   760
14    A017670       SK텔레콤   854   51     0   56200    35
15    A068270        셀트리온   854   51     0  160500     6
16    A012330       현대모비스   854   48     0  232000     0
17    A066570        LG전자   854   48     0  129000     0
18    A036570       엔씨소프트   854   48     0  540000     0

In [9]:
df_deal_history = pd.read_csv(csv_deal_history, encoding="utf-8-sig")
df_deal_history.tail(10)

             GBCD JONGMOK_NM  TIMES  CPRICE   DIFF  CVOL     VOL
48486  실시간(장중 체결)      NAVER  90836  335000   9000     2   95849
48487  실시간(장중 체결)        카카오  90836   88800   2700     1  425809
48488  실시간(장중 체결)   LG에너지솔루션  90836  491000 -20000     9  315294
48489  실시간(장중 체결)       KB금융  90836   64200    400    70  273689
48490  실시간(장중 체결)     SK하이닉스  90836  128500   2500   300  740131
48491  실시간(장중 체결)      SK텔레콤  90836   55700   -500    10   58188
48492  실시간(장중 체결)      NAVER  90836  335000   9000     6   95855
48493  실시간(장중 체결)       KB금융  90836   64100    300   500  274189
48494  실시간(장중 체결)     SK하이닉스  90836  129000   3000    11  740142
48495  실시간(장중 체결)   LG에너지솔루션  90836  491000 -20000     3  315297

In [17]:
# 코덱스 데이터
df_kodex = df_deal_history[df_deal_history["JONGMOK_NM"] == "KODEX 레버리지"]
df_kodex.head()

         GBCD  JONGMOK_NM  TIMES  CPRICE  DIFF  CVOL    VOL
7   실시간(예상체결)  KODEX 레버리지  85449   21000   220   -15  94580
9   실시간(예상체결)  KODEX 레버리지  85450   21000   220     1  94581
17  실시간(예상체결)  KODEX 레버리지  85450   21000   220    50  94631
28  실시간(예상체결)  KODEX 레버리지  85453   21000   220    50  94681
30  실시간(예상체결)  KODEX 레버리지  85454   21000   220  3563  98244

In [18]:
# 거래 기준을 가질 데이터
df_deal_source = df_deal_history[df_deal_history["JONGMOK_NM"] != "KODEX 레버리지"]
df_deal_source.head(10)

         GBCD JONGMOK_NM  TIMES  CPRICE   DIFF  CVOL     VOL
0   실시간(예상체결)   LG에너지솔루션  85448  513000   2000     1    7337
1   실시간(예상체결)       삼성전자  85448   76400   1700    28  327914
2   실시간(예상체결)        현대차  85448  186500   1500     3    3711
3   실시간(예상체결)       삼성전자  85448   76400   1700    10  327924
4   실시간(예상체결)      NAVER  85449  327500   1500     1    4118
5   실시간(예상체결)      엔씨소프트  85449  560000  20000  -151    1840
6   실시간(예상체결)   LG에너지솔루션  85449  513000   2000    -1    7336
8   실시간(예상체결)       삼성전자  85449   76400   1700    -3  327921
10  실시간(예상체결)      현대모비스  85450  234500   2500     1     903
11  실시간(예상체결)      삼성SDI  85450  577000  11000    -1    4463

In [13]:
list_deal_jongmok = df_deal_history["JONGMOK_NM"].unique()

for nm in list_deal_jongmok:
    print(nm)

LG에너지솔루션
삼성전자
현대차
NAVER
엔씨소프트
KODEX 레버리지
현대모비스
삼성SDI
신한지주
두산중공업
KB금융
LG전자
카카오
SK텔레콤
SK하이닉스
LG화학
대한전선
우리금융지주
셀트리온